# Ignore build folders
**/bin/
**/obj/

# Ignore IDE files
**/.vs/
**/.vscode/
**/.idea/
**/*.user

# Ignore configuration / local settings
**/appsettings.Development.json
**/*.local

# Ignore logs and diagnostics
**/*.log
